:root {
  --main-color: #ff7b54;
  --color-text-primary: #ffffff;
  --font-family: "Inter", sans-serif;
}
body {
  background-color: var(--main-color);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}
ul > li {
  list-style: none;
}
