:root {
  --main-color: #ff7b54;
  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  --font-family: "Inter", sans-serif;
  --color-button-border: var(--color-text-primary);
  --color-button-primary-bg: var(--color-text-primary);
  --color-button-primary-text: var(--main-color);
  --color-button-secondary-bg: var(--main-color);
  --color-button-secondary-text: var(--color-text-primary);
}

body {
  background-color: var(--main-color);
  color: var(--color-text-primary);
  font-family: var(var(--font-family));
}

.body__primary {
  background-color: var(--main-color);
  color: var(--color-text-primary);
}
.body__secondary {
  background-color: var(--color-text-primary);
  color: var(--main-color);
}
.main {
  padding: 150px;
}

h2,
p {
  margin: 0px;
}
header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0 60px;
}
header > a {
  font-size: 40px;
  font-weight: bold;
}

nav {
  display: inline-block;
  justify-self: end;
}
nav > ul {
  list-style: none;
  display: flex;
}
nav > ul li {
  margin-inline-end: 36px;
}
a {
  color: inherit;
  text-decoration: none;
}
.button {
  font-size: 32px;
  padding: 0 64px;
  height: 100px;
  border: 4px solid var(--color-button-border);
  box-sizing: border-box;
  cursor: pointer;
  transition: outline 0.2s linear;
}
.button:hover {
  outline: 2px solid var(--color-text-primary);
}
.button_primary {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}
.button_secondary {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}
.button-container {
  display: flex;
  margin-top: 100px;
}
.button:not(button:last-of-type) {
  margin-inline-end: 24px;
}
.button-icon {
  vertical-align: middle;
}
.menu {
  display: none;
}
.close {
  display: none;
}

@media (max-width: 1220px) {
  .button {
    font-size: 20px;
    padding: 0 32px;
    height: 70px;
  }
  .button-icon {
    width: 20px;
  }
}
@media (max-width: 815px) {
  .main {
    padding: 75px;
  }
}
@media (max-width: 700px) {
  .button {
    font-size: 16px;
    margin-top: 24px;
  }
  .button-container {
    margin-top: 32px;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .menu {
    display: block;
  }
  .menu--hide {
    display: none;
  }
  .close--show {
    display: block;
  }
  .nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    top: 60px;
    left: -100%;
    padding-top: 60px;
  }
  .nav--visible {
    left: 0;
  }
  .nav__list {
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
  }
  .nav__list_item {
    font-size: 40px;
    font-weight: bold;
  }

  header {
    grid-template-columns: 33px 1fr 34px;
    justify-items: center;
  }
}
