@import "./base.css";

.main {
  padding: 150px;
}
.home.main__heading {
  font-size: 128px;
  font-weight: bold;
}
.home.sub__heading {
  font-size: 40px;
  font-weight: bold;
}
.menu path {
  fill: var(--color-text-primary);
}
.close path {
  fill: var(--color-text-primary);
}

@media (max-width: 1220px) {
  .home.main__heading {
    font-size: 70px;
  }
}
@media (max-width: 590px) {
  .home.main__heading {
    font-size: 40px;
  }
  .home.sub__heading {
    font-size: 24px;
  }
}
